name: Release Doppelganger bins

on:
  push:
    tags:
      - 'v*.*.*'
      - 'doppelganger-stable*' # follow polkadot stable releases

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: parity-default
            target: x86_64-unknown-linux-gnu
            bin-suffix: "" # empty for linux x86_64
            container: '{"image": "docker.io/paritytech/ci-unified:bullseye-1.88.0-2025-06-27-v202506301118"}'
          - os: macos-latest
            target: aarch64-apple-darwin
            bin-suffix: "-macos-arm64"
            container: '{"image": null}'

    runs-on: ${{ matrix.os }}
    container: ${{ fromJSON(matrix.container) }}

    env:
      CARGO_TERM_COLOR: always
      RUSTFLAGS: "-Dwarnings"
      SKIP_WASM_BUILD: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Fetch cache
        uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2.7.7
        with:
          shared-key: "wrapper-cache"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install Rust
        if: ${{ matrix.os == 'macos-latest' }}
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      # - name: Install deps linux
      #   if: ${{ matrix.os == 'ubuntu-latest' }}
      #   run: |
      #     sudo apt-get update && \
      #     sudo DEBIAN_FRONTEND=noninteractive apt-get install -y \
      #     protobuf-compiler \
      #     clang libclang-dev

      - name: Install deps MacOs
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          brew install protobuf llvm
	  export LIBCLANG_PATH="$(brew --prefix llvm)/lib"
	  export LD_LIBRARY_PATH="$LIBCLANG_PATH:$LD_LIBRARY_PATH"
	  export DYLD_LIBRARY_PATH="$LIBCLANG_PATH:$DYLD_LIBRARY_PATH"
	  export PATH="$(brew --prefix llvm)/bin:$PATH"
	  ls "$(brew --prefix llvm)/lib/libclang.dylib"

      - name: Build
        run: SKIP_WASM_BUILD=1 cargo build --release --target ${{ matrix.target }}

      - name: Package binary
        run: |
          mkdir -p dist
          cp target/${{ matrix.target }}/release/doppelganger dist/doppelganger${{ matrix.bin-suffix }}
          cp target/${{ matrix.target }}/release/doppelganger-parachain dist/doppelganger-parachain${{ matrix.bin-suffix }}
          cp target/${{ matrix.target }}/release/polkadot-execute-worker dist/polkadot-execute-worker${{ matrix.bin-suffix }}
          cp target/${{ matrix.target }}/release/polkadot-prepare-worker dist/polkadot-prepare-worker${{ matrix.bin-suffix }}

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: doppelganger-${{ matrix.os }}-${{ matrix.target }}-${{ github.ref_name }}
          path: dist/*

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: artifacts

      - name: Generate checksums
        run: |
          cd artifacts
          # move files to artifacts
          mv doppelganger-macos-latest-aarch64-apple-darwin-${{ github.ref_name }}/* .
          rmdir doppelganger-macos-latest-aarch64-apple-darwin-${{ github.ref_name }}

          mv doppelganger-parity-default-x86_64-unknown-linux-gnu-${{ github.ref_name }}/* .
          rmdir doppelganger-parity-default-x86_64-unknown-linux-gnu-${{ github.ref_name }}

          sha256sum * > checksums.txt

      - name: Create Release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2.3.3
        with:
          files: |
            artifacts/*
          generate_release_notes: false
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
